<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fab fa-node-js fa-3x"></i></h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>

  <div class = 'row mt-5 '>
     <div class = "col-md-6 m-auto">
        <h2>Encrypted log-in authentication app</h2><br>
        <hr>
        <H4>Hi, My name is Ed.</h4>,<br>
          <h5>This is a secure login app i created using <strong>Node</strong> and MongoDB</h5>
      
      </div> 
    
  </div><br><br>
  <div class="row">
    <div class ="col m-auto">
      <p>This application utilizes Bcrypt to ensure the  encryption of all user logins and information. 
        This application also uses user  passportJS verification and authentication to ensure passwords and emails retreived from the database are valid before granting access to the dashboard.
      </p>
      
    </div>

  </div>